@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto&display=swap');

body {
    color: #fafafa;
    background-color: #255a5e;
}

nav ul li a {
    color: #fafafa;
}

h1, h2, h3 {
    font-family: 'Inconsolata', monospace;
}
p {
    font-family: 'Roboto', sans-serif;
}
